streamlit
streamlit-js-eval
streamlit-extras
streamlit-cookies-manager-v2
streamlit-shortcuts
firebase-admin
bcrypt
requests
google-genai
fastembed
hf_transfer
qdrant-client
Pillow
pytesseract
PyMuPDF
user-agents
mistralai